In [1]:
fact = 'The Moon has no atmosphere.'
fact + 'No sound can be heard on the Moon.'

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [2]:
fact

'The Moon has no atmosphere.'

In [3]:
two_facts = fact + 'No sound can be heard on the Moon.'
two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [4]:
'The "near side" is the part of the Moon that faces the Earth'

'The "near side" is the part of the Moon that faces the Earth'

In [8]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [9]:
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

In [10]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

In [11]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [12]:
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

In [13]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [14]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""
temperatures.find('Moon')

-1

In [16]:
temperatures = 'Mars Average Temperature: -60 C'
parts = temperatures.split(':')
parts [-1]

' -60 C'

In [18]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

print(text)

Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth.
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.

In [28]:
text.find('average')

164

In [26]:
text.find('distance')

-1

In [25]:
text.find('temperature')

326

In [30]:
text_parts = text.split('. ')
text_parts

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [ ]:
palabras_clave = ["average", "temperature", "distance"]

In [35]:
print(text[164])

a

In [10]:
planeta= "Tierra"
Gravedad= 0.00162 ##en kms
nombre= "Luna"

print(f'Descubren que la gravedad en {nombre} en la {planeta} tiene un valor apenas de {Gravedad}')

Descubren que la gravedad en Luna en la Tierra tiene un valor apenas de 0.00162

In [20]:
titulo='Descubren que la gravedad en  '+ str(  nombre) + '  en  ' + str(planeta) + ' tiene un valor de apenas   ' + str(Gravedad)
titulo.title()

'Descubren Que La Gravedad En  Luna  En  Tierra Tiene Un Valor De Apenas   0.00162'

In [17]:
Información = f"""{'----------------------------------------------------------------------'} 
nombre del planeta: {planeta} 
Gravedad en la {nombre}: {Gravedad * 1000} m/s2 
"""

In [19]:
Plantilla = f"""{titulo.title()} 
{Información} 
""" 
print(Información)

----------------------------------------------------------------------
nombre del planeta: Tierra
Gravedad en la Luna: 1.6199999999999999 m/s2

In [21]:
planeta= "marte"
Gravedad= 0.00143 ##en kms
nombre= "Ganimedes"
print(f'Descubren que la gravedad en {nombre} en  {planeta} tiene un valor apenas de {Gravedad}')

Descubren que la gravedad en Ganimedes en  marte tiene un valor apenas de 0.00143

In [22]:
print(Información)

----------------------------------------------------------------------
nombre del planeta: Tierra
Gravedad en la Luna: 1.6199999999999999 m/s2

In [23]:
Plantilla_nueva=f"""{titulo.title()} 
{Información} 
""" 
print(Información)
print(Plantilla_nueva.format(nombre=nombre, Planeta=planeta, Gravedad=Gravedad*1000))

----------------------------------------------------------------------
nombre del planeta: Tierra
Gravedad en la Luna: 1.6199999999999999 m/s2

Descubren Que La Gravedad En  Luna  En  Tierra Tiene Un Valor De Apenas   0.00162
----------------------------------------------------------------------
nombre del planeta: Tierra
Gravedad en la Luna: 1.6199999999999999 m/s2